// Utility classes
$primary-color: rgba(103, 58, 183, 1);
$complementary-color1: rgba(221, 34, 221, 1);

.img-circle {
	border-radius: 50%;
}

.small-avatar {
    width: 36px;
}

.show-pointer {
    cursor: pointer;
}

.left-align {
    text-align: left !important;
}

.right-align {
    text-align: right !important;
}

.center-align {
    text-align: center !important;
}

.relative-position {
    position: relative;
}

.color-white {
    color: #ffffff !important;
}

.full-width {
    width: 100%;
}


.space-margin-10 {
    margin: 10px;
}

.space-margin-20 {
    margin: 20px;
}


.space-top-margin-10 {
    margin-top: 10px;
}

.space-top-margin-20 {
    margin-top: 20px;
}