@import "variables";

.img-circle {
  border-radius: 50%;
}

.small-avatar {
  width: 36px;
}

.medium-avatar {
  width: 48px;
}

.show-pointer {
  cursor: pointer;
}

.left-align {
  text-align: left !important;
}

.right-align {
  text-align: right !important;
}

.center-align {
  text-align: center !important;
}

.relative-position {
  position: relative;
}

.display-inline-block {
  display: inline-block;
}

.color-white {
  color: #ffffff !important;
}

.full-width {
  width: 100%;
}

.notka-link {
  a {
    text-decoration: none;
    position: relative;
    cursor: pointer;
  }

  a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $light-grey-color;
    transition: width 0.2s ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }
}

.pill {
  padding: 5px 12px;
  border: 1px solid $light-grey-color;
  border-radius: 15px;
  text-align: center;
  white-space: nowrap;
}

.pill-primary {
  border-color: darken($primary-color, 25%);
  color: $primary-color;
}

.space-margin-10 {
  margin: 10px;
}

.space-margin-20 {
  margin: 20px;
}

.space-top-margin-10 {
  margin-top: 10px;
}

.space-top-margin-20 {
  margin-top: 20px;
}

.space-bottom-margin-10 {
  margin-bottom: 10px;
}

.space-right-margin-10 {
  margin-right: 10px;
}

.space-left-margin-10 {
  margin-left: 10px;
}
