// Utility classes

.img-circle {
	border-radius: 50%;
}

.left-align {
    text-align: left !important;
}

.right-align {
    text-align: right !important;
}

.center-align {
    text-align: center !important;
}

.relative-position {
    position: relative;
}

.color-white {
    color: #ffffff !important;
}

.full-width {
    width: 100%;
}