<mat-toolbar class="mat-elevation-z1">
  <div fxLayout="row" class="header-wrapper">

    <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center" class="left-header-side">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="title">
        Dashboard
      </div>
    </div>

    <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" class="right-header-side">
      <div class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Search...">
      </div>
      <div class="notification-panel">
        <button mat-icon-button color="primary" (click)="notificationSideNav.toggle()">
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
      <div class="logged-user show-pointer">
        <div>
          <img class="img-circle small-avatar" src="assets/img/user.png" alt="Jane Doe">
        </div>
      </div>
    </div>

  </div>
</mat-toolbar>