<div class="content-wrapper" [ngClass.md]="{'tablet-view':true}" [ngClass.sm]="{'mobile-landscape-view':true}"
  [ngClass.xs]="{'mobile-portrait-view':true}">

  <perfect-scrollbar>

    <div class="profile space-margin-20" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px" fxLayoutAlign=”flex-start”>
      <div fxFlex="75%" class="presentation-panel relative-position">
        <div class="social">
          <a class="instagram-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="twitter-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="linkedin-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <div class="main-info">
          <div class="avatar">
            <img src="assets/img/applicants/user-1.jpg" alt="user-1">
          </div>
          <h1 class="applicant-name">
            Lena Heady
          </h1>
          <h5 class="applicant-position">Senior Front End Developer</h5>
        </div>
      </div>
    </div>

  </perfect-scrollbar>

</div>