<div class="content-wrapper" [ngClass.md]="{'tablet-view':true}" [ngClass.sm]="{'mobile-landscape-view':true}"
  [ngClass.xs]="{'mobile-portrait-view':true}">

  <!-- <perfect-scrollbar> -->

  <div class="profile space-margin-20 relative-position" fxLayout="row" fxLayoutAlign="flex-start">
    <div class="bg-profile"></div>
    <div fxFlex="75%" class="presentation-panel relative-position">
      <div class="social">
        <a class="instagram-icon">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="twitter-icon">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="linkedin-icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="main-info">
        <div class="avatar">
          <img src="assets/img/applicants/user-1.jpg" alt="user-1">
        </div>
        <h1 class="applicant-name">
          Lena Heady
        </h1>
        <h5 class="applicant-position">Senior Front End Developer</h5>
      </div>
    </div>
    <div fxFlex="25%" class="detail-info-wrapper z-index-1">
      <div class="detail-info">
        <ul>
          <li>
            <span><i class="fas fa-globe-americas"></i></span> &nbsp;
            <span>Website</span>
            <div class="notka-link">
              <a>
                withinmyrange.com
              </a>
            </div>
          </li>
          <li>
            <span><i class="far fa-envelope"></i></span> &nbsp;
            <span>Email</span>
            <div class="notka-link">
              <a>
                loremipsum@example.com
              </a>
            </div>
          </li>
          <li>
            <span><i class="fas fa-phone" style="transform: rotate(90deg);"></i></span> &nbsp;
            <span>Phone</span>
            <div>
              123-456-7890
            </div>
          </li>
          <li>
            <span><i class="far fa-map"></i></span> &nbsp;
            <span>City</span>
            <div>
              Dallas
            </div>
          </li>
          <li>
            <span><i class="fas fa-map-marker-alt"></i></span> &nbsp;
            <span>Address</span>
            <div>
              111 Lorem Ipsum Ave <br>
              Dallas TX. 12345
            </div>
          </li>
          <li>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="summary space-margin-20" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px" fxLayoutAlign="flex-start">
    <div fxFlex="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Summary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            I am a Senior Developer with 10+ years of experience.
            Team leader and mentor for others and always Keep-up-to-date with the latest tech.
            I possess a deep understanding of how to utilize technology in order to deliver innovative solutions that
            meet
            the requirements of business. I have attached my resume to illustrate my expertise and talents.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="space-margin-20" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="50%" class="experience">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Experience</mat-card-title>
          <mat-card-subtitle>10 Years of experience as Senior Front End Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="list-experience">
            <!-- <ul>
              <li>
                <span>Jan 2010 - Feb 2019</span>
                <h4>General Electric</h4>
                <span>Web Developer</span>
              </li>
              <li></li>
              <li></li>
            </ul> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50%" class="education">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Education</mat-card-title>
          <mat-card-subtitle>Bachelor's Degree in Computer Science from University of Minnesota</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="list-education">
            <!-- <ul>
              <li>
                <span>Jan 2010 - Feb 2019</span>
                <h4>General Electric</h4>
                <span>Web Developer</span>
              </li>
              <li></li>
              <li></li>
            </ul> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <!-- </perfect-scrollbar> -->

</div>