<div class="content-wrapper" [ngClass.md]="{'tablet-view':true}" [ngClass.sm]="{'mobile-landscape-view':true}"
  [ngClass.xs]="{'mobile-portrait-view':true}">

  <!-- <perfect-scrollbar> -->

  <div class="profile space-margin-20 relative-position" fxLayout="row" fxLayoutAlign="flex-start">
    <div class="bg-profile"></div>
    <div fxFlex="75%" class="presentation-panel relative-position">
      <div class="social">
        <a class="instagram-icon">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="twitter-icon">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="linkedin-icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="main-info">
        <div class="avatar">
          <img src="assets/img/applicants/user-1.jpg" alt="user-1">
        </div>
        <h1 class="applicant-name">
          Lena Heady
        </h1>
        <h5 class="applicant-position">Senior Front End Developer</h5>
      </div>
    </div>
    <div fxFlex="25%" class="detail-info-wrapper z-index-1">
      <div class="detail-info">
        <ul>
          <li>
            <span><i class="fas fa-globe-americas"></i></span> &nbsp;
            <span>Website</span>
            <div class="notka-link">
              <a>
                withinmyrange.com
              </a>
            </div>
          </li>
          <li>
            <span><i class="far fa-envelope"></i></span> &nbsp;
            <span>Email</span>
            <div class="notka-link">
              <a>
                loremipsum@example.com
              </a>
            </div>
          </li>
          <li>
            <span><i class="fas fa-phone" style="transform: rotate(90deg);"></i></span> &nbsp;
            <span>Phone</span>
            <div>
              123-456-7890
            </div>
          </li>
          <li>
            <span><i class="far fa-map"></i></span> &nbsp;
            <span>City</span>
            <div>
              Dallas
            </div>
          </li>
          <li>
            <span><i class="fas fa-map-marker-alt"></i></span> &nbsp;
            <span>Address</span>
            <div>
              111 Lorem Ipsum Ave <br>
              Dallas TX. 12345
            </div>
          </li>
          <li>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="summary space-margin-20" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutGap.lt-sm="0px" fxLayoutAlign="flex-start">
    <div fxFlex="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Summary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            I am a Senior Developer with 10+ years of experience.
            Team leader and mentor for others and always Keep-up-to-date with the latest tech.
            I possess a deep understanding of how to utilize technology in order to deliver innovative solutions that
            meet
            the requirements of business. I have attached my resume to illustrate my expertise and talents.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="space-margin-20" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="50%" class="experience">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Experience</mat-card-title>
          <mat-card-subtitle>10+ Years of experience as Senior Front End Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="list-experience">
            <div class="timeline">
              <div class="timeline-item">
                <div class="timeline-badge">
                  <mat-icon aria-label="label">keyboard_arrow_right</mat-icon>
                </div>
                <div class="timeline-body">
                  <h3> <span class="date">Feb 2019</span> &middot; <span class="company">General Electric</span> </h3>
                  <span class="title">Senior Front End Developer</span>
                  <p>
                    Responsible for code maintenance along with other Senior Developers <br>
                    Responsible for training Junior Developers <br>
                    Handle UX/UI designs and customer satisfaction
                  </p>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-badge">
                  <mat-icon aria-label="label">keyboard_arrow_right</mat-icon>
                </div>
                <div class="timeline-body">
                  <h3> <span>Sep 2009</span> &middot; <span>Credit Union</span> </h3>
                  <span>Junior Front End Developer</span>
                  <p>
                    <span class="no-description">No description</span>
                  </p>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-badge">
                  <mat-icon aria-label="label">keyboard_arrow_right</mat-icon>
                </div>
                <div class="timeline-body">
                  <h3> <span>Sep 2008</span> &middot; <span>American Airlines</span> </h3>
                  <span>Intern Front End Developer</span>
                  <p>
                    Shadow Senior Front End Developer when building mobile and web applications <br>
                    Create Mockups that satisfied business requirements <br>
                    Aid developement team test new builds
                  </p>
                </div>
              </div>

            </div>
            <!-- <ul>
              <li>
                <span>Jan 2010 - Feb 2019</span>
                <h4>General Electric</h4>
                <span>Web Developer</span>
              </li>
              <li></li>
              <li></li>
            </ul> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50%">

      <div class="skills">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Skills</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="list-skills">
              <span *ngFor="let skill of skills" class="pill space-right-margin-10">
                {{skill}}
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="education space-top-margin-20">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Education</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="list-education">
              <h4>
                University of Minnesota
              </h4>
              <div>
                Bachelor's Degree in Computer Science
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>


  <!-- </perfect-scrollbar> -->

</div>