@import "~src/assets/scss/variables";
@import "~src/assets/scss/base";

.content-wrapper {
  overflow: auto;
  height: calc(100% - 64px);

  .profile {
    .bg-profile {
      border-radius: 4px;
      position: absolute;
      width: 100%;
      max-width: 100%;
      max-height: 450px;
      height: 450px;
      background-image: url("../../../assets/img/background/bg-profile-2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .detail-info-wrapper {
      background-color: rgba(0, 0, 0, 0.4);
    }

    .detail-info {
      z-index: 1;
      color: rgba(255,255,255,0.8);

      ul {
        list-style-type: none;
        padding: 0;
        margin-left: 16px;
        margin-right: 16px;

        li {
          text-align: left;
          margin-bottom: 20px;
        }
      }
    }

    .presentation-panel {
      height: 450px;

      .social {
        position: absolute;
        top: 15px;
        right: 50px;
        z-index: 1;

        a {
          color: rgba(255, 255, 255, 0.8);
          display: inline-block;
          font-size: 30px;
          margin-left: 13px;
          text-decoration: none;
          background-color: transparent;
        }

        a.linkedin-icon:hover {
          color: rgba(2, 116, 179, 1);
          transition: color 0.23s ease-in-out;
        }

        a.twitter-icon:hover {
          color: rgba(28, 166, 214, 1);
          transition: color 0.23s ease-in-out;
        }

        a.instagram-icon:hover {
          color: rgba(247, 108, 202, 1);
          transition: color 0.23s ease-in-out;
        }
      }

      .main-info {
        padding: 15% 5% 5%;

        .avatar {
          width: 90px;

          img {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            max-width: 100%;
            height: auto;
            border-radius: 5%;
            border: 2px solid rgba(255, 255, 255, 1);
          }
        }

        .applicant-name {
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          color: #fff;
          font-size: 3.75rem;
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);
          padding-bottom: 10px;
          display: inline-block;
          margin-bottom: 10px;
        }

        .applicant-position {
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          color: rgba(255, 255, 255, 0.8);
          font-size: 1.25rem;
          margin-top: 0;
        }
      }
    }
  }
}
