<div class="content-wrapper">

  <div fxLayout="row" fxLayoutGap="10px" class="info-box space-margin-20">
    <div *ngFor="let infoBox of infoBoxes" fxFlex="25">
      <mat-card>
        <div class="card-wrapper" fxLayout="row">
          <div class="icon left-side" fxFlex="20">
            <span>
              <mat-icon>
                {{infoBox.icon}}
              </mat-icon>
            </span>
          </div>
          <div class="right-side" fxFlex="80">
            <div class="title">
              {{infoBox.title}}
            </div>
            <div class="text">
              <span class="amount">{{infoBox.amount}}</span>
              <span class="when">{{infoBox.when}}</span>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="top-applicants space-margin-20">
    <mat-card>
      <div fxLayout="row" fxLayoutGap="15px">

        <div fxFlex="75" class="full-width">
          <div class="notka-card-title">
            <div class="card-inner-title">
              <div class="left-side left-align">
                <h4>Top Applicants</h4>
              </div>
              <div class="right-side right-align"></div>
            </div>
          </div>

          <div class="notka-card-content">
            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="picture">
                <th mat-header-cell *matHeaderCellDef> Pict </th>
                <td mat-cell *matCellDef="let element">
                  <img class="img-circle small-avatar" src="assets/img/applicants/user-{{element.picture}}.jpg" alt="{{element.picture}}">
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <ng-container matColumnDef="skills">
                <th mat-header-cell *matHeaderCellDef> Skills </th>
                <td mat-cell *matCellDef="let element">
                  <app-skill-checker [positionSkills]="positionSkills" [skills]="element.skills" [candidateName]="element.name"></app-skill-checker>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>

        <div fxFlex="25" class="full-width">
          <div class="notka-card-title">
            <div class="card-inner-title">
              <div class="left-side left-align">
                <h4>Position</h4>
                <div class="position-name">Senior Front End Software Engineering</div>
                <div class="company-name space-top-margin-10">Company: ABC News</div>
              </div>
            </div>
          </div>

          <div class="notka-card-content space-top-margin-20">
            <div>Skills needed:</div>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <div fxLayout="row" class="full-width">
                  <div fxFlex="50">
                    <span class="pill">
                      Angular 2+
                    </span>
                  </div>
                  <div fxFlex="50" class="right-align">
                    <span class="pill">
                      React
                    </span>
                  </div>
                </div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <div fxLayout="row" class="full-width">
                  <div fxFlex="50">
                    <span class="pill">
                      HTML 5
                    </span>
                  </div>
                  <div fxFlex="50" class="right-align">
                    <span class="pill">
                      CSS 3
                    </span>
                  </div>
                </div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <div fxLayout="row" class="full-width">
                  <div fxFlex="50">
                    <span class="pill">
                      ES6
                    </span>
                  </div>
                  <div fxFlex="50" class="right-align">
                    <span class="pill">
                      NodeJS
                    </span>
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
          </div>

        </div>
      </div>

    </mat-card>
  </div>

</div>