<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="sideNavMode" [opened]="isOpened" position="start">
    <app-sidebar-panel></app-sidebar-panel>
  </mat-sidenav>

  <mat-sidenav #notificationSideNav mode="over" [opened]="isNotificationPanelOpened" position="end">
    <app-notification-panel></app-notification-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [sidenav]="sidenav" [notificationSideNav]="notificationSideNav"></app-header>
    <app-content></app-content>
  </mat-sidenav-content>

</mat-sidenav-container>