<div class="content-wrapper" [ngClass.md]="{'tablet-view':true}" [ngClass.sm]="{'mobile-landscape-view':true}"
  [ngClass.xs]="{'mobile-portrait-view':true}">

  <div class="info-box space-margin-20" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px"
    fxLayoutGap.lt-sm="0px">
    <div *ngFor="let infoBox of infoBoxes" fxFlex="0 1 calc(25% - 10px)" fxFlex.md="0 1 calc(50% - 10px)"
      fxFlex.lt-sm="100%" class="info-box-child">
      <mat-card>
        <div class="card-wrapper" fxLayout="row">
          <div class="icon left-side">
            <span>
              <mat-icon>
                {{infoBox.icon}}
              </mat-icon>
            </span>
          </div>
          <div class="right-side">
            <div class="title">
              {{infoBox.title}}
            </div>
            <div class="text">
              <span class="amount">{{infoBox.amount}}</span>
              <span class="when">{{infoBox.when}}</span>
            </div>
          </div>

        </div>
      </mat-card>
    </div>
  </div>

  <div class="top-applicants space-margin-20">
    <mat-card>

      <div fxLayout="row">
        <div fxFlex="100">
          <div class="full-width">

            <div class="notka-card-title">
              <div class="card-inner-title">
                <div class="left-side left-align">
                  <h4>Position</h4>
                  <div>
                    <div class="position-name display-inline-block">{{positionName}} for </div>
                    <div class="company-name display-inline-block">{{companyName}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="notka-card-content space-top-margin-10">
              <div>
                Skills needed: <span>{{positionSkills.join(', ')}} </span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="space-top-margin-20"></div>

      <div fxLayout="row">

        <div fxFlex="100" class="full-width">
          <div class="notka-card-title">
            <div class="card-inner-title">
              <div class="left-side left-align">
                <h4>Top Applicants</h4>
              </div>
              <div class="right-side right-align"></div>
            </div>
          </div>

          <div class="notka-card-content">
            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="picture">
                <th mat-header-cell *matHeaderCellDef> Pict </th>
                <td mat-cell *matCellDef="let element">
                  <img class="img-circle small-avatar" src="assets/img/applicants/user-{{element.picture}}.jpg" alt="user-{{element.picture}}">
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <ng-container matColumnDef="skills">
                <th mat-header-cell *matHeaderCellDef> Skills </th>
                <td mat-cell *matCellDef="let element">
                  <notka-skill-checker [positionSkills]="positionSkills" [skills]="element.skills" [candidateName]="element.name"></notka-skill-checker>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>

      </div>

    </mat-card>
  </div>

</div>