<div class="content-wrapper" [ngClass.md]="{'tablet-view':true}" [ngClass.sm]="{'mobile-landscape-view':true}"
  [ngClass.xs]="{'mobile-portrait-view':true}">

  <div class="listOfApplicants space-margin-20" fxLayout="row">
    <div fxFlex="25">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
              <img class="img-circle medium-avatar" src="assets/img/applicants/user-1.jpg" alt="user-1">
          </div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Front End Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>